default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --exclude=examples/*
          - --fix
      # Run the formatter.
      - id: ruff-format
        args: [--exclude=examples/*]
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.3.0
    hooks:
      - id: conventional-pre-commit
        name: conventional-commit
        stages: [ commit-msg ]
        args: [ ]
  - repo: local
    hooks:
      - id: api-test
        name: api-test
        entry: python3 packages/bsb-core/tools/generate_public_api.py
        language: system
