[build-system]
build-backend = "setuptools.build_meta"
requires = [ "setuptools" ]

[project]
name = "bsb"
version = "7.2.2"
readme = "README.md"
requires-python = ">=3.10,<4"
description = "Black-box component framework for multiscale neural modeling"
classifiers = [
  "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)"
]
dependencies = [
  "bsb-core~=7.0",
  "bsb-hdf5~=7.0",
  "bsb-json~=7.0",
  "bsb-yaml~=7.0"
]

  [[project.authors]]
  name = "Robin De Schepper"
  email = "robin@alexandria.sc"

  [[project.authors]]
  name = "Dimitri Rodarie"
  email = "dimitri.rodarie@unipv.it"

  [[project.maintainers]]
  name = "Dimitri Rodarie"
  email = "dimitri.rodarie@unipv.it"

  [project.license]
  file = "LICENSE"

  [project.optional-dependencies]
  parallel = [ "bsb-core[parallel]" ]
  neuron = [ "bsb-neuron~=7.0" ]
  nest = [ "bsb-nest~=7.0" ]
  arbor = [ "bsb-arbor~=7.0" ]

  [project.urls]
  Home = "https://github.com/dbbs-lab/bsb"
  Documentation = "https://bsb.readthedocs.io/"
  "Bug Tracker" = "https://github.com/dbbs-lab/bsb/issues/"
  "Source Code" = "https://github.com/dbbs-lab/bsb/"

[dependency-groups]
dev = [
  "bsb[parallel,arbor,nest,neuron]",
  "gitdb>=4.0.12",
  "gitpython>=3.1.44",
  "smmap>=5.0.2"
]
docs = [
  "furo~=2024.0",
  "sphinxemoji~=0.3",
  "sphinx-copybutton~=0.5",
  "sphinxext-bsb~=7.0"
]

[tool.uv]
default-groups = [ "dev", "docs" ]

[tool.uv.sources.bsb-nest]
path = "../bsb-nest"
editable = true

[tool.uv.sources.bsb-neuron]
path = "../bsb-neuron"
editable = true

[tool.uv.sources.bsb-core]
path = "../bsb-core"
editable = true

[tool.uv.sources.bsb-hdf5]
path = "../bsb-hdf5"
editable = true

[tool.uv.sources.bsb-json]
path = "../bsb-json"
editable = true

[tool.uv.sources.bsb-yaml]
path = "../bsb-yaml"
editable = true

[tool.uv.sources.bsb-arbor]
path = "../bsb-arbor"
editable = true

[tool.uv.sources.sphinxext-bsb]
path = "../../libs/sphinxext-bsb"
editable = true

[tool.setuptools]
packages = [ ]
