name: Build and test BSB

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true

env:
  NEST_VERSION: 3.7
  NEST_FOLDER: ${{ github.workspace }}/.nx/installation/nest
  NX_DAEMON: false  # may prevent GHA to stall for some reason

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      UV_PYTHON: ${{ matrix.python-version }}
    strategy:
      matrix:
        python-version: [ "3.10", "3.12" ]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install apt dependencies
        run: |
          sudo apt update
          # Install `libopenmpi` for MPI, `libhdf5` for `morphio`,
          # `libgsl` and `libreadline` for NEST
          sudo apt install -y openmpi-bin libopenmpi-dev libhdf5-dev libreadline-dev libgsl-dev

      - name: Install nodejs
        uses: actions/setup-node@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Cache NEST
        uses: actions/cache@v4
        with:
          path: ${{ env.NEST_FOLDER }}
          key: ${{ runner.os }}-${{ matrix.python-version }}-nest

      - name: Run unittests
        timeout-minutes: 60
        env:
          BSB_QUIET: true
        run: |
          npm install rimraf
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            ./nx run-many -t test ;
          else
            ./nx affected -t test --base=origin/main --head=HEAD;
          fi
      - name: Send coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          env_vars: PYTHON=${{ matrix.python-version }}
