name: Build and test BSB

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true

env:
  NEST_VERSION: 3.7
  NEST_FOLDER: ${{ github.workspace }}/.nx/installation/nest

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      UV_PYTHON: ${{ matrix.python-version }}
    strategy:
      matrix:
        python-version: [ "3.10", "3.12" ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install apt dependencies
        run: |
          sudo apt update
          # Install `libopenmpi` for MPI
          sudo apt install openmpi-bin libopenmpi-dev
          # Install `libhdf5` for `morphio`
          sudo apt install libhdf5-dev

      - name: Install nodejs
        run: |
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
          \. "$HOME/.nvm/nvm.sh"
          nvm install --lts

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Cache NEST
        uses: actions/cache@v4
        with:
          path: ${{ env.NEST_FOLDER }}
          key: ${{ runner.os }}-${{ matrix.python-version }}-nest

      - name: Run unittests
        env:
          BSB_QUIET: true
        run: |
          npm install rimraf
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            ./nx run-many -t test ;
          else
            ./nx affected -t test --base=origin/main --head=HEAD;
          fi
      - name: Send coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          env_vars: PYTHON=${{ matrix.python-version }}
