name: Documentation

on: [workflow_call]

env:
  NX_DAEMON: false  # may prevent GHA to stall for some reason

jobs:
  check-documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install apt dependencies
        run: |
          sudo apt update
          # Install `libopenmpi` for MPI
          sudo apt install openmpi-bin libopenmpi-dev
          # Install `libhdf5` for `morphio`
          sudo apt install libhdf5-dev

      - name: Install nodejs
        uses: actions/setup-node@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - run: |
          # There is flake on `npx cross-env`, pre-install it a couple times to prevent that.
          npx -y cross-env echo "" > /dev/null
          npx -y cross-env echo "" > /dev/null
          npx -y cross-env echo "" > /dev/null
          npm install rimraf
          # Manually set the NX BASE and HEAD variables.
          # see https://github.com/dbbs-lab/bsb/issues/152
          NX_BASE=origin/main
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            NX_BASE="${NX_BASE}~1"
          fi
          ./nx affected -t docs --base=$NX_BASE --head=HEAD
        env:
          UV_PYTHON: 3.12
