name: Test examples
on:
  push: # to test
    branches:
      - '**'  # matches every branch ...
      - '!main'  # ... that is not main
  pull_request:
    types: [ opened, synchronize, reopened, review_requested ]

env:
  NEST_VERSION: 3.7
  NEST_FOLDER: ${{ github.workspace }}/.nx/installation/nest

jobs:
  test_examples:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.list-examples.outputs.folders }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install apt dependencies
        run: |
          sudo apt update
          sudo apt install libhdf5-dev

      - name: Install nodejs
        run: |
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
          \. "$HOME/.nvm/nvm.sh"
          nvm install --lts

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Cache NEST
        uses: actions/cache@v4
        with:
          path: ${{ env.NEST_FOLDER }}
          key: ${{ runner.os }}-3.12-nest

      - name: Run unittests
        run: |
          ./nx run examples:tests
        env:
          UV_PYTHON: 3.12
