name: Test examples
on:
  pull_request:
    types: [ opened, reopened ]
  pull_request_review:
    types:
      - submitted

env:
  NEST_VERSION: 3.7
  NEST_FOLDER: ${{ github.workspace }}/.nx/installation/nest
  NX_DAEMON: false  # may prevent GHA to stall for some reason

jobs:
  test_examples:
    if: |
      github.event.action == 'opened' ||
      github.event.action == 'reopened' ||
      (github.event_name == 'pull_request_review' && github.event.review.state == 'approved')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install apt dependencies
        run: |
          sudo apt update
          # Install `libopenmpi` for MPI, `libhdf5` for `morphio`,
          # `libgsl` and `libreadline` for NEST
          sudo apt install openmpi-bin libopenmpi-dev libhdf5-dev libreadline-dev libgsl-dev

      - name: Install nodejs
        uses: actions/setup-node@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Cache NEST
        uses: actions/cache@v4
        with:
          path: ${{ env.NEST_FOLDER }}
          key: ${{ runner.os }}-3.12-nest

      - name: Run unittests
        run: |
          ./nx run examples:test
        env:
          UV_PYTHON: 3.12
          BSB_QUIET: true
